/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    @include full-width;
    @include br-five;
    margin-top: 15px;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    transition: background-color .2s ease-in-out, 
    color .2s ease-in-out;
    &.default {
      background-color: $default-color;
    }
    &.error {
      background-color: $error-color;
    }
    &.info {
      background-color: $info-color;
    }
    &.success {
      background-color: $success-color;
    }
    &.warning {
      background-color: $warning-color;
    }
    /* Lighten function on hover */
    &.default:hover {
      background-color: lighten($default-color, 15%);
    }
    &.error:hover {
      background-color: lighten($error-color, 15%);
    }
    &.info:hover {
      background-color: lighten($info-color, 15%);
    }
    &.success:hover {
      background-color: lighten($success-color, 15%);
    }
    &.warning:hover {
      background-color: lighten($warning-color, 15%);
    }
  }
  
  