/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
  }
  
  .row {
    @include flex-column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    @include fb-hundred;
    @include mt-ten;
    @include br-five;
    min-height: 25px;
    padding: 10px;
  } 
/* Tried using one of these lol */
  @each $theme, $color in $col-colors {
    .theme.col-#{$theme} {
      background-color: $color;
    }
  } 

  @each $theme, $color in $col-colors {
    .theme.col-#{$theme}:hover {
      background-color: lighten($color, 15%);
    }
  } 

  .card {
    @include fb-hundred;
  }