/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
    @include display-block;
    @include margin-both;
    @include max;
    @include mt-ten;
  }
  
  .img-frame {
    @include margin-both;
    @include display-block;
    @include mt-ten;
    max-width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
  }
  
  .img-logo {
    @include margin-both;
    @include display-block;
  }