/* ============================================= */
/*              Navigation                       */
/* ============================================= */
/* As part of the exceeds expectations requirement I used & to append link to the parent */
.nav {
    @include flex-column;
    @include fb-hundred;
    padding-left: 0;
    &-link {
      @include br-five;
      @include display-block;
      @include full-width;
      @include text-center;
      padding: 10px 0;
      transition: background-color .2s ease-in-out, 
      color .2s ease-in-out;
      &:hover {
      color: #fff;
      background-color: $color-primary;
    }
    }
  }